/* @import url('https://fonts.googleapis.com/css?family=Kalam:400,700" rel="stylesheet'); */

.cardsStyle {
  color: rgb(118, 135, 151, 0.3);
  
  text-align: justify;
  padding: 50px;
}

.cardsTitle {
  font-size: 35px;
}

.cardSubtitle {
  font-size: 20px;
}

.cardsText {
  font-size: 25px;
  
}