/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet'); */

.singleCard {
    padding: 50px 300px 50px 300px;
    text-align: justify;
}
.singleCardTitle {
    font-size: 40px;
}

.singleCardImg {
    size: 80%;
    

}



.pageHeading {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    
}


.cardsStyle {
    color: lightslategray;
    
    text-align: justify;
    padding: 50px;
  }
  
  .cardTitle {
    font-size: 30px;
  }
  
  .cardSubtitle {
    font-size: 20px;
  }
  
  .singleCardText {
    font-size: 30px;
  }