/* @import url('https://fonts.googleapis.com/css?family=Merienda'); */

.bottom {
    bottom: 0%;
    width: 100%;
    position: fixed;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
    font-family: 'Italiana', serif;
  
    
   

}