
.menuStyling > * {
    float: right;
    padding: '10px 25px 10px 10px';
    font-size: 24px;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Italiana', serif;
    font-weight: lighter;

    
}  

.nav-button {
    color: black !important;
}