
@media(max-width: 500px){
    
    .menuStyling {
        
        position: absolute;
        padding: '10px 25px 10px 10px';
        font-size: 24px;
        margin-top: 10px;
        margin-right: 20px;
        font-family: 'Italiana', serif;
        font-weight: lighter;
        color: rgb(159, 183, 162);
        display: inline-block;
    }
    
    .nav-button {
        color:  rgb(159, 183, 162);
        
    }

    .menuStyling :hover {
        color: rgb(211, 211, 211, 0.6);
        }


}

@media(max-width: 768px){ 
    
}

@media(min-device-width: 1024px){ 
    
    .menuStyling > * {
    float: right;
    padding: '10px 25px 10px 10px';
    font-size: 24px;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Italiana', serif;
    font-weight: lighter;
    color: rgb(159, 183, 162);
    }  

    .nav-button {
    color:  rgb(159, 183, 162);
    }

    .menuStyling :hover {
    color: rgb(211, 211, 211, 0.6);
    }
    

}