
@import url('https://fonts.googleapis.com/css?family=Italiana');

.pageHeading {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Italiana', serif;
}


body {
    background-color: rgb(159, 183, 162)
    


    
}
