@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Sedgwick+Ave" rel="stylesheet');

.pageHeading {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    font-family: 'Rock Salt', cursive;
}


body {
    background-color: rgb(159, 183, 162)


    
}
