
@import url('https://fonts.googleapis.com/css?family=Italiana');

.pageHeading {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Italiana', serif;
    color: rgb(159, 183, 162);
}


body {
    background-color: rgb(159, 183, 162);
    


    
}
.background-image {
    background-image: url('../resources/images/digitalworld.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
   }
