
.oppJS {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 40px 40px 40px 40px;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(211, 211, 211, 0.8);
    
}



/* p {
    font-size: 25px;
} */

/* OpportunityBoard h3 {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    font-family: 'Merienda', cursive;
} */