/* @import url('https://fonts.googleapis.com/css?family=Merienda'); */

.formStyle {
    padding-top: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    
    background-color: rgb(211, 211, 211, 0.6);
    
};

.orgHeading {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    
}


 
