/* @import url('https://fonts.googleapis.com/css?family=Merienda'); */

.formStyle {
    padding-top: 200px;
    margin-top: 200px;
    background-color: rgb(211, 211, 211, 0.6);
    
};

.orgHeading {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    
}


/* .background-image {
    background-image: url('../resources/images/digitalworld.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    
   } */
