/* @import url('https://fonts.googleapis.com/css?family=Merienda'); */

.formStyle {
    padding-top: 200px;
    margin-top: 200px;
};

.orgHeading {
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    
}
